body{
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    color: lightgray;
    font-family: Helvetica, Arial, sans-serif;
}
